[Colors]

DefaultTextColor=#ffffff
SecondaryTextColor=#ee6100
ActiveTextColor=#ee6100
DisabledTextColor=#ffffff
PaintedTextColor=#000000

ReversedTextColor=#ee6100
ReversedSecondaryTextColor=#ffffff
ReversedActiveTextColor=#fa9000
ReversedDisabledTextColor=#ffffff
ReversedPaintedTextColor=#000000

DefaultBackgroundColor=#424345
DarkerBackgroundColor=#101010
ReversedBackgroundColor=#000000
SelectionColor=#fa9000
ReversedSelectionColor=#ee6100

ContentBackgroundColor=#000000
ContentFrameColor=#000000
ContentSelectionColor=#ffffff

TitleTextColor=#ffffff
ButtonTextColor=#ffffff
ButtonTextPressedColor=#ffffff
ButtonTextDisabledColor=#8c8c8c

AccentColor1=#ee6100
AccentColor2=#ee6100
AccentColor3=#fa9000
AttentionColor=#ff1919

NotificationBackgroundColor=#589cf8
NotificationTextColor=#010b18
NotificationSecondaryTextColor=#03234a
